:root {
    --accent1: #007bff;
    --accent2: #ffdd57;
    --accent3: rgb(244, 246, 249);
    --accent4: rgb(0, 123, 255, .25);
    --text: #333;

  }


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}


a {
    color: var(--accent1);
    text-decoration: none;
}


/* Navigation Styles */
#menu {
    display: none; 
    background-color: var(--accent1); 
    color: white;
    border: 1px solid var(--text);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px; 
}

#menu:before {
    content: '\2630';
    display: block;
}


nav a {
    display: inline-block; 
    margin: 0 10px; 
    color: var(--accent1); 
    text-decoration: none;
}

nav a.active {
    font-weight: bold;
    text-decoration: underline;
}


@media screen and (max-width: 768px) {
    #menu {
        display: block; 
        position: fixed; 
        top: 10px;
        right: 10px; 
        z-index: 1000; 
    }


    nav a {
        display: none;
    }


    nav.active a {
        display: block;
        margin: 10px 0; 
        text-align: center;
    }


    nav.active {
        position: absolute;
        background-color: var(--accent1); 
        top: 0;
        left: 0;
        width: 100%;
        box-shadow: 0 4px 5px rgba(0,0,0,0.2);
        z-index: 999; 
    }
}


nav {
    background-color: var(--accent1);
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    padding: 10px 20px;
}

nav a:hover {
    background-color: #0056b3;
    border-radius: 5px;
}

.closeable-message {
    background-color: var(--accent2);
    color: #333;
    padding: 15px;
    text-align: center;
    position: relative;
}

.closeable-message button {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
}

header {
    background-image: url('../images/Hero.webp');
    background-size: cover; 
    background-position: center; 
    color: white;
    padding: 120px 50px;
    text-align: center;
    position: relative;
}

#herolabel {
    position: relative;
    top: 20px;
    color: #333;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: .75rem;
    box-shadow: 0 0 1rem rgba(51, 51, 51, 0.5);
    opacity: 0.95;
} 

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
    margin-top: 20px;
}

#rentals-message {
    padding: 50px 5%;
    text-align: center;
    color: white;
    background-color: var(--accent1);
}

#rentals-message h2 {
    margin-bottom: 30px;
}

#weather {
    text-align: center;
}

#current-weather, #tom-weather {
    background-color: var(--accent4);
    margin: 50px 5%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 1rem rgba(51, 51, 51, 0.25);
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer a {
    color: var(--accent2);
    text-decoration: none;
}


/* ----------------------------------- RESERVATIONS ---------------------------- */

.reservations-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: center; 
    max-width: 600px; 
    margin: auto;
}

.rental-agreement, .reservation-form {
    background: var(--accent4);
    padding: 30px; 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    width: 100%; 
}


.form-grid {
    width: auto;
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;
    padding-right: 20px;
}


.form-grid label {
    font-weight: 600;
    margin-bottom: 8px;
    color: #333;
}


input[type="date"],
input[type="number"],
input[type="tel"],
input[type="text"],
input[type="email"],
select,
textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    -webkit-appearance: none; 
    appearance: none;
}

input:focus,
select:focus,
textarea:focus {
    outline: 2px solid var(--accent1); 
    outline-offset: 2px;
}


.comment textarea {
    min-height: 120px;
}

.submit-btn button {
    background-color: var(--accent1);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
    display: block; 
    width: 100%; 
    margin-left: 8px;
}

.submit-btn button:hover {
    background-color: #0056b3;
}


@media (max-width: 768px) {
    .reservations-container {
        padding: 20px;
        max-width: 100%; 
    }
}


 


/* ------------------------- CONTACT -------------------------- */

.contact {
    text-align: center;
    margin: 0;
}
.map-container {
    height: 400px;
    width: 100%;
    margin-bottom: 100px;
}
.contact-form {
    max-width: 600px;
    text-align: left;
    background-color: var(--accent4);
    border-radius: 5px;
    margin: 20px auto;
    padding: 20px 45px 20px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.contact-form h2 {
    text-align: center;
}

form div {
    margin-bottom: 10px;
}
form label, form input, form textarea, form button {
    width: 100%;
    padding: 10px;
}
form textarea {
    height: 100px;
}


.contact-submit {
    margin-left: 10px;
}


/* ------------------------ RENTALS ------------------------- */
main {
    padding: 20px 40px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #333;
}

#rentalsContainer {
    padding-left: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.rental-item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 10px;

}

.rental-item h3 {
    text-align: center;
    margin-top: 0;
    color: var(--accent1);
}

.rental-pricing {
    background-color: #f9f9f9;
    border: 1px solid #eee;
    padding: 10px;
    margin-top: 15px;
    border-radius: 4px;
}

#rentalAgreements {
    margin: 40px 20px 20px 40px;
    width: 100%;
    max-width: 1200px;
}

#rentalAgreements h2 {
    text-align: center;
}

#agreementsList {
    list-style-type: none;
    padding: 0;
}

#agreementsList li {
    background-color: #ffffff;
    border: 1px solid #eee;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

